body {
  font-size: 18px; 
  color: white;
}
h1 {
  max-width: 520px;
}

.forecast b { font-size: 36px; }
.subtext { font-size: 12px; }

.cat {
    height: 100%;
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 25%;
    overflow: hidden;
    max-height: 100%;
}
.cat img { 
  margin: 0 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); /* holy shiet!, UCS 4+ uses a webkit browser! */
  max-height: 100%;
}

.cat img.alt {
  display: none;
}


@media (max-width: 420px) and (orientation: portrait) {
  h1 { max-width: 260px; }
  .fw {
    display: none;
  }
  
  .cat {
    height: 50%;
    width: 100%;
    max-width: 100%;
    top: 50%;
  }
  .cat img.main {
    display: none;
  }
  .cat img.alt {
    display: inline;
    position: absolute;
    bottom: 0px;
  }
}
